.Aboutme-Container {
  height: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: black;
  margin-top: 2rem;
  padding: 0;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  padding: 0;
  margin-top: 6rem;
}

.Aboutme-Content-Container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1024px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  color: black;
}

.Logos {
  width: 4rem;
  cursor: pointer;
  text-decoration: none;
  margin-right: 1rem;
  background: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  /* -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0); */
  box-shadow: 0 0 1px rgba(255, 255, 255, 0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.Logos.node,
.Logos.mysql {
  width: 5rem;
}

.Logos:before {
  content: "";
  /* z-index: -1; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  /* -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%; */
  /* -webkit-transition-property: transform;
  transition-property: transform; */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.Logos:hover,
.Logos:focus,
.Logos:active {
  box-shadow: 0 10px 10px -10px rgba(253, 252, 252, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.profile-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  height: inherit;
  margin: 0;
  overflow: hidden;
  /* z-index: 3; */
}

.portfolio-photo {
  width: 300px;
  margin-left: 1rem;
}

.profile-text {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  /* position: absolute; */
  top: 0;
  width: calc(36rem);
  top: 30px;
  transform: rotate3d(0.342, -0.2, 0, 22deg) rotateZ(7deg);
  z-index: 2;
  filter: grayscale(1);
  opacity: 0.1;
  min-width: 36rem;
  min-height: 600px;
  border-radius: 8px;
  clip-path: padding-box;
  right: -3%;
}

.profile-text:hover {
  background-color: #2aa7e0;
  transform: rotate3d(0.342, -0.94, 0, 22deg) rotateZ(4deg);
  transform: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 2s;
  transition-timing-function: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0px 0px 10px 0px black;
  filter: grayscale(0);
  filter: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}

/* .textbgcard {
  border: 1px solid black;
  background-color: blue;
  width: 37rem;
  border-radius: 9px;
} */
